<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.sca.mapper.TDdmWorkflowProcessDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhang.sca.model.po.TDdmWorkflowProcessDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="current_user_node_status" jdbcType="TINYINT" property="currentUserNodeStatus" />
    <result column="process_user_id" jdbcType="BIGINT" property="processUserId" />
    <result column="process_time" jdbcType="TIMESTAMP" property="processTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, process_id, enterprise_id, current_user_node_status, process_user_id, process_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_workflow_process_detail
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcessDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_workflow_process_detail (process_id, enterprise_id, current_user_node_status,
      process_user_id, process_time
      )
    values (#{processId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{currentUserNodeStatus,jdbcType=TINYINT},
      #{processUserId,jdbcType=BIGINT}, #{processTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcessDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_workflow_process_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="processId != null">
        process_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="currentUserNodeStatus != null">
        current_user_node_status,
      </if>
      <if test="processUserId != null">
        process_user_id,
      </if>
      <if test="processTime != null">
        process_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="currentUserNodeStatus != null">
        #{currentUserNodeStatus,jdbcType=TINYINT},
      </if>
      <if test="processUserId != null">
        #{processUserId,jdbcType=BIGINT},
      </if>
      <if test="processTime != null">
        #{processTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcessDetail">
    update t_ddm_workflow_process_detail
    <set>
      <if test="processId != null">
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="currentUserNodeStatus != null">
        current_user_node_status = #{currentUserNodeStatus,jdbcType=TINYINT},
      </if>
      <if test="processUserId != null">
        process_user_id = #{processUserId,jdbcType=BIGINT},
      </if>
      <if test="processTime != null">
        process_time = #{processTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcessDetail">
    update t_ddm_workflow_process_detail
    set process_id = #{processId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      current_user_node_status = #{currentUserNodeStatus,jdbcType=TINYINT},
      process_user_id = #{processUserId,jdbcType=BIGINT},
      process_time = #{processTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into t_ddm_workflow_process_detail
    (process_id, enterprise_id, current_user_node_status, process_user_id, process_time, is_deleted)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.processId,jdbcType=BIGINT}, #{item.enterpriseId,jdbcType=BIGINT}, #{item.currentUserNodeStatus,jdbcType=TINYINT},
        #{item.processUserId,jdbcType=BIGINT}, NOW(),
       0)
    </foreach>
  </insert>
  <select id="selectPrepareAuditByProcessIdAndEnterpriseId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_workflow_process_detail
    where process_id = #{processId,jdbcType=BIGINT}
    and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    and is_deleted = 0
    and current_user_node_status = 1
  </select>
  <select id="selectIdByProcessIdAndUser" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcessDetail" resultType="java.lang.Long">
    select
    id
    from t_ddm_workflow_process_detail
    where process_id = #{processId,jdbcType=BIGINT}
    and process_user_id = #{processUserId,jdbcType=BIGINT}
    and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    and is_deleted = 0
    and current_user_node_status = 1
    limit 1
  </select>
  <update id="updateIgnore">
    update t_ddm_workflow_process_detail
    set current_user_node_status = 3
    where process_id = #{processId,jdbcType=BIGINT}
    and process_user_id != #{processUserId,jdbcType=BIGINT}
  </update>
</mapper>
