<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.sca.mapper.TDdmMetadataMapper">
  <resultMap id="BaseResultMap" type="com.zhang.sca.model.po.TDdmMetadata">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="column_field" jdbcType="VARCHAR" property="columnField" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="column_desc" jdbcType="VARCHAR" property="columnDesc" />
    <result column="max_length" jdbcType="INTEGER" property="maxLength" />
    <result column="min_length" jdbcType="INTEGER" property="minLength" />
    <result column="component_type" jdbcType="VARCHAR" property="componentType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="component_order" jdbcType="INTEGER" property="componentOrder" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, form_id, enterprise_id, column_field, column_type, column_desc, max_length, min_length, component_type, remark, required, component_order, default_value,
    create_user, create_time, update_user, update_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_metadata
    where id = #{id,jdbcType=BIGINT}
  </select>


  <insert id="insert" parameterType="com.zhang.sca.model.po.TDdmMetadata">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_metadata (form_id, enterprise_id, column_field, column_type,
      column_desc, max_length, min_length, component_type, remark, required, component_order
      default_value, create_user,
      update_user
      )
    values (#{formId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{columnField,jdbcType=VARCHAR}, #{columnType,jdbcType=VARCHAR},
      #{columnDesc,jdbcType=VARCHAR}, #{maxLength,jdbcType=INTEGER}, #{minLength,jdbcType=INTEGER},
      #{componentType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{required,jdbcType=BIT}, #{componentOrder,jdbcType=INTEGER}, #{defaultValue,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT},
      #{updateUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhang.sca.model.po.TDdmMetadata">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_metadata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="formId != null">
        form_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="columnField != null">
        column_field,
      </if>
      <if test="columnType != null">
        column_type,
      </if>
      <if test="columnDesc != null">
        column_desc,
      </if>
      <if test="maxLength != null">
        max_length,
      </if>
      <if test="minLength != null">
        min_length,
      </if>
      <if test="defaultValue != null">
        default_value,
      </if>
      <if test="componentType != null">
        component_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="required != null">
        required,
      </if>
      <if test="componentOrder != null">
        component_order,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="columnField != null">
        #{columnField,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnDesc != null">
        #{columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="maxLength != null">
        #{maxLength,jdbcType=INTEGER},
      </if>
      <if test="minLength != null">
        #{minLength,jdbcType=INTEGER},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="componentType != null">
        #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="required != null">
        #{required,jdbcType=BIT},
      </if>
      <if test="componentOrder != null">
        #{componentOrder,jdbcType=INTEGER},
      </if>
      <if test="minLength != null">
        #{minLength,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.sca.model.po.TDdmMetadata">
    update t_ddm_metadata
    <set>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="columnField != null">
        column_field = #{columnField,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        column_type = #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnDesc != null">
        column_desc = #{columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="maxLength != null">
        max_length = #{maxLength,jdbcType=INTEGER},
      </if>
      <if test="minLength != null">
        min_length = #{minLength,jdbcType=INTEGER},
      </if>
      <if test="defaultValue != null">
        default_value = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="componentType != null">
        component_type = #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="required != null">
        required = #{required,jdbcType=BIT},
      </if>
      <if test="componentOrder != null">
        component_order = #{componentOrder,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.sca.model.po.TDdmMetadata">
    update t_ddm_metadata
    set form_id = #{formId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      column_field = #{columnField,jdbcType=VARCHAR},
      column_type = #{columnType,jdbcType=VARCHAR},
      column_desc = #{columnDesc,jdbcType=VARCHAR},
      max_length = #{maxLength,jdbcType=INTEGER},
      min_length = #{minLength,jdbcType=INTEGER},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      component_type = #{componentType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      required = #{required,jdbcType=BIT}
      component_order = #{componentOrder,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into t_ddm_metadata
    (form_id, enterprise_id, column_field, column_type, column_desc, max_length, min_length, default_value,
      component_type, remark, required, component_order, create_user, update_user)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.formId,jdbcType=BIGINT}, #{item.enterpriseId,jdbcType=BIGINT}, #{item.columnField,jdbcType=VARCHAR}, #{item.columnType,jdbcType=VARCHAR},
        #{item.columnDesc,jdbcType=VARCHAR}, #{item.maxLength,jdbcType=INTEGER}, #{item.minLength,jdbcType=INTEGER},
        #{item.defaultValue,jdbcType=VARCHAR}, #{item.componentType,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR},
        #{item.required,jdbcType=BIT}, #{item.componentOrder,jdbcType=INTEGER},
        #{item.createUser,jdbcType=BIGINT},
        #{item.updateUser,jdbcType=BIGINT}
        )
    </foreach>
  </insert>
  <select id="getTDdMetadataByFormId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_metadata
    where form_id = #{formId,jdbcType=BIGINT} and is_deleted = 0 order by component_order
  </select>
  <select id="getTDdMetadataByFormIdAndEnterpriseId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_metadata
    where form_id = #{formId,jdbcType=BIGINT} and enterprise_id = #{enterpriseId,jdbcType=BIGINT} and is_deleted = 0 order by component_order
  </select>
  <update id="pseudoDeleteMetadata" parameterType="java.lang.Long">
    update t_ddm_metadata
    set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="pseudoDeleteMetadataByFormId" parameterType="java.lang.Long">
    update t_ddm_metadata
    set is_deleted = 1
    where form_id = #{formId,jdbcType=BIGINT}
    and enterprise_id=#{enterpriseId,jdbcType=BIGINT}
  </update>
  <update id="pseudoBatchDeleteMetaData" parameterType="java.lang.Long">
    update t_ddm_metadata
    set is_deleted = 1
    where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item}
    </foreach>

  </update>
  <update id="pseudoBatchDeleteMetaDataByFormId" parameterType="java.lang.Long">
    update t_ddm_metadata
    set is_deleted = 1
    where form_id in
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>

  </update>
</mapper>
