<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.sca.mapper.TDdmDictAddressMapper">

  <resultMap id="BaseResultMap" type="com.zhang.sca.model.po.TDdmDictAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="is_overseas" jdbcType="BIT" property="isOverseas" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code, name, pinyin, level, parent_code, version, create_time, is_deleted, is_overseas
  </sql>

</mapper>