<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.sca.mapper.TDdmWorkflowProcessMapper">
  <resultMap id="BaseResultMap" type="com.zhang.sca.model.po.TDdmWorkflowProcess">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="page_id" jdbcType="BIGINT" property="pageId" />
    <result column="approve_type" jdbcType="TINYINT" property="approveType" />
    <result column="node_status" jdbcType="TINYINT" property="nodeStatus" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, form_id, enterprise_id, node_id, data_id, page_id, approve_type, node_status, node_name, create_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_workflow_process
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUserIdAndFormId" resultMap="BaseResultMap">
    select
    distinct b.*
    from t_ddm_workflow_process_detail a
    left join t_ddm_workflow_process b on a.process_id=b.id
    where a.process_user_id=#{processUserId} and a.enterprise_id = #{enterpriseId} and a.current_user_node_status=1 and b.form_id=#{formId} and a.is_deleted=0;
  </select>
  <select id="selectByUserIdAndPageId" resultMap="BaseResultMap">
    select
      distinct b.*
    from t_ddm_workflow_process_detail a
           left join t_ddm_workflow_process b on a.process_id=b.id
    where a.process_user_id=#{processUserId} and a.enterprise_id = #{enterpriseId} and a.current_user_node_status=1 and b.page_id=#{pageId} and a.is_deleted=0;
  </select>
  <insert id="insert" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcess">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_workflow_process (page_id, enterprise_id, node_id, data_id,
      approve_type, node_status, node_name)
    values (#{pageId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{nodeId,jdbcType=BIGINT}, #{dataId,jdbcType=BIGINT},
      #{approveType,jdbcType=TINYINT}, #{nodeStatus,jdbcType=TINYINT}, #{nodeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcess">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_workflow_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="formId != null">
        form_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="pageId != null">
        page_id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="approveType != null">
        approve_type,
      </if>
      <if test="nodeStatus != null">
        node_status,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="approveType != null">
        #{approveType,jdbcType=TINYINT},
      </if>
      <if test="nodeStatus != null">
        #{nodeStatus,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcess">
    update t_ddm_workflow_process
    <set>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="pageId != null">
        page_id = #{pageId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="approveType != null">
        approve_type = #{approveType,jdbcType=TINYINT},
      </if>
      <if test="nodeStatus != null">
        node_status = #{nodeStatus,jdbcType=TINYINT},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.sca.model.po.TDdmWorkflowProcess">
    update t_ddm_workflow_process
    set form_id = #{formId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      node_id = #{nodeId,jdbcType=BIGINT},
      data_id = #{dataId,jdbcType=BIGINT},
      approve_type = #{approveType,jdbcType=TINYINT},
      node_status = #{nodeStatus,jdbcType=TINYINT},
      node_name = #{nodeName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into t_ddm_workflow_process
    (form_id,  enterprise_id, page_id, node_id, data_id, approve_type, node_status, node_name, is_deleted)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.formId,jdbcType=BIGINT}, #{item.enterpriseId,jdbcType=BIGINT}, #{item.pageId,jdbcType=BIGINT}, #{item.nodeId,jdbcType=BIGINT}, #{item.dataId,jdbcType=BIGINT},
        #{item.approveType,jdbcType=TINYINT}, #{item.nodeStatus,jdbcType=TINYINT}, #{item.nodeName,jdbcType=VARCHAR},
        0)
    </foreach>
  </insert>
  <select id="selectByFormIdAndUserIdAndNodeStatus" resultMap="BaseResultMap">
    SELECT
        t1.*
    FROM
        t_ddm_workflow_process AS t1
    INNER JOIN t_ddm_workflow_process_detail AS t2 ON t1.id = t2.process_id AND t2.is_deleted = 0
    WHERE t1.is_deleted = 0
    <if test="enterpriseId != null">
      AND t1.enterprise_id = #{enterpriseId}
    </if>
    <if test="userId != null">
      AND t2.process_user_id = #{userId}
    </if>
    <if test="nodeStatus != null">
      AND t2.current_user_node_status = #{nodeStatus}
    </if>
    AND t1.form_id = #{formId}
    ORDER BY
        t1.id DESC
    <if test="pageNum != null and pageSize != null">
      LIMIT #{pageNum},#{pageSize}
    </if>
  </select>

  <select id="selectByPageIdAndUserIdAndNodeStatus" resultMap="BaseResultMap">
    SELECT
    t1.*
    FROM
    t_ddm_workflow_process AS t1
    INNER JOIN t_ddm_workflow_process_detail AS t2 ON t1.id = t2.process_id AND t2.is_deleted = 0
    WHERE t1.is_deleted = 0
    <if test="enterpriseId != null">
      AND t1.enterprise_id = #{enterpriseId}
    </if>
    <if test="userId != null">
      AND t2.process_user_id = #{userId}
    </if>
    <if test="nodeStatus != null">
      AND t2.current_user_node_status = #{nodeStatus}
    </if>
    AND t1.page_id = #{pageId}
    ORDER BY
    t1.id DESC
    <if test="pageNum != null and pageSize != null">
      LIMIT #{pageNum},#{pageSize}
    </if>
  </select>
  <select id="getProcessPendingCount" resultType="java.lang.Long">
    select count(*) from t_ddm_workflow_process_detail a
    left join t_ddm_workflow_process b on a.process_id=b.id
    <where>
      a.process_user_id=#{processUserId} and a.enterprise_id=#{enterpriseId} and a.current_user_node_status=1 and a.is_deleted=0 and b.is_deleted = 0
    </where>
  </select>

  <select id="getProcessPendingUserCount" resultType="java.lang.Long">
    select count(*) from t_ddm_workflow_process_detail a
    left join t_ddm_workflow_process b on a.process_id=b.id
    <where>
      b.page_id=#{pageId} and b.enterprise_id=#{enterpriseId} and b.node_id = #{nodeId} and b.data_id = #{dataId} and a.enterprise_id=#{enterpriseId} and a.current_user_node_status=1 and a.is_deleted=0
    </where>
  </select>


  <select id="getWorkflowTmpId" resultType="java.lang.Long">
    select work_flow_temp_id from t_ddm_workflow_template_detail
    where enterprise_id=#{enterpriseId} and id = ( select distinct b.node_id from t_ddm_workflow_process_detail a
                                                left join t_ddm_workflow_process b on a.process_id=b.id
               where b.page_id=#{pageId} and b.enterprise_id=#{enterpriseId} and b.data_id=#{dataId} and b.is_deleted=0 )
  </select>

  <select id="getProcessPendingNeedUserApprove" resultType="java.lang.Long">
    select count(*) from t_ddm_workflow_process_detail a
    left join t_ddm_workflow_process b on a.process_id=b.id
    <where>
      b.page_id=#{pageId} and b.data_id=#{dataId} and a.process_user_id=#{processUserId} and a.enterprise_id=#{enterpriseId} and a.current_user_node_status=1 and a.is_deleted=0
    </where>
  </select>
  <select id="selectByFormIdAndDataIdAndEnterpriseId"
          resultType="com.zhang.sca.model.po.TDdmWorkflowProcess">
    select
    <include refid="Base_Column_List" />
    from t_ddm_workflow_process
    where form_id = #{formId,jdbcType=BIGINT}
    and data_id = #{dataId,jdbcType=BIGINT}
    and enterprise_id = #{enterpriseId, jdbcType=BIGINT}
    and node_status = 1
    and is_deleted = 0
    limit 1
  </select>

  <select id="selectByPageIdAndDataIdAndEnterpriseId"
          resultType="com.zhang.sca.model.po.TDdmWorkflowProcess">
    select
    <include refid="Base_Column_List" />
    from t_ddm_workflow_process
    where page_id = #{pageId,jdbcType=BIGINT}
    and data_id = #{dataId,jdbcType=BIGINT}
    and enterprise_id = #{enterpriseId, jdbcType=BIGINT}
    and node_status = 1
    and is_deleted = 0
    limit 1
  </select>

  <update id="deleteWorkFlowByPageIdAndDataId" >
    update t_ddm_workflow_process
    set  is_deleted = 1
    where page_id = #{pageId,jdbcType=BIGINT}  and enterprise_id = #{enterpriseId, jdbcType=BIGINT}
    <if test="dataIds.size() > 0">
        and
          data_id in
          <foreach collection="dataIds" item="dataId" open="(" close=")" separator=",">
             #{dataId}
          </foreach>
    </if>
  </update>

  <update id="deleteWorkFlowOfPages" >
    update t_ddm_workflow_process
    set  is_deleted = 1
    where  enterprise_id = #{enterpriseId, jdbcType=BIGINT}
    <if test="pageIds.size() > 0">
      and
      page_id in
      <foreach collection="pageIds" item="pageId" open="(" close=")" separator=",">
        #{pageId}
      </foreach>
    </if>
  </update>
</mapper>
