<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.sca.mapper.TDdmAdministratorMapper">
  <resultMap id="BaseResultMap" type="com.zhang.sca.model.po.TDdmAdministrator">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_enterprise_owner" jdbcType="BIT" property="isEnterpriseOwner" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, user_id, create_user, create_time, update_user, update_time, is_enterprise_owner,
    is_deleted
  </sql>
  <select id="searchByEnterpriseId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_administrator
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT} and is_deleted=0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_administrator
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getByEnterpriseIdAndUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_administrator
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT} and user_id = #{userId,jdbcType=BIGINT} and is_deleted=0
  </select>
  <select id="getEnterpriseOwner" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ddm_administrator
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT} and is_enterprise_owner = 1 and is_deleted=0
    limit 1
  </select>

  <insert id="insertSelective" parameterType="com.zhang.sca.model.po.TDdmAdministrator">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ddm_administrator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isEnterpriseOwner != null">
        is_enterprise_owner,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnterpriseOwner != null">
        #{isEnterpriseOwner,jdbcType=BIT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.sca.model.po.TDdmAdministrator">
    update t_ddm_administrator
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnterpriseOwner != null">
        is_enterprise_owner = #{isEnterpriseOwner,jdbcType=BIT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.sca.model.po.TDdmAdministrator">
    update t_ddm_administrator
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_enterprise_owner = #{isEnterpriseOwner,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="removeEnterpriseAdministrators" parameterType="java.lang.Long">
    update t_ddm_administrator
    set is_deleted = 1
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT} and is_enterprise_owner=0 and is_deleted=0
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into t_ddm_administrator
    (enterprise_id, user_id, create_user, create_time, update_user, update_time, is_enterprise_owner,
      is_deleted)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.enterpriseId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.createUser,jdbcType=BIGINT},
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP},
        #{item.isEnterpriseOwner,jdbcType=BIT}, 0)
    </foreach>
  </insert>
</mapper>
